{% extends "auctions/layout.html" %}

{% block body %}

<h2>Listing: {{listing.title}}</h2>

{% if user.is_authenticated %}
    {% if watching == False %}
        <form action="{% url 'add' listing.title %}" method="POST">
            {% csrf_token %}
            <button type="submit">Add to Watchlist</button><br/>
        </form>
    {% else %}
        <form action="{% url 'remove' listing.title %}" method="POST">
            {% csrf_token %}
            <button type="submit">Remove from Watchlist</button><br/>
        </form>
    {% endif %}
{% endif %}

<img style="width: 200px; height: 200px; margin: 20px;" src="{{listing.image}}">
<p>{{listing.description}}</p>
<h2>${{listing.bid}}.00</h2>

<h3>Details</h3>
<ul>
    <li>Listed by: {{listing.owner}}</li>
    <li>Category: {{listing.category}}</li>
</ul>


{% endblock %}
